.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.blue-button {
  background-color:	#429ECC;
  color: white;
  padding: 10px;
  border-radius: 25%;
}

.disabled {
  cursor: not-allowed !important;
  background-color: #88949a;
}